@import "components/cart";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-size: 18px;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
  color: black;
}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
}

img {
  width: 100%;
}

header {
  order: 2;

  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.5);

  z-index: 5;

  &.topbar {
    order: 0;

    padding: 5px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      padding: 10px;
      color: black;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 0.9em;
      text-align: center;
      &.active {
        text-decoration: underline;
        background: #dfdfdf;
      }
    }

    .title {
      width: 100%;
      padding: 10px;
    }
  }

  nav {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 60px;
    border-top: 1px solid grey;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      padding: 5px;

      &.active {
        color: black;
      }
      &:not(.active) {
        color: #999;
      }

      svg {
        margin-bottom: 5px;
      }
    }
  }
}

.form-input {
  margin-bottom: 25px;
  label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid grey;
  font-size: 0.9em;
  line-break: normal;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .offlinebar {
    background: tomato;
    color: white;
    text-align: center;
    padding: 5px;
  }
  .page-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-width: 800px;
    width: 100%;
    margin: auto;

    &.content-center {
      display: flex;
      align-items: center;
    }

    .content-block {
      padding: 15px;
      width: 100%;

      &.more-hpadding {
        padding: 30px 15px;
      }

      &.border-bottom {
        border-bottom: 3px solid #e7e7e7;
      }
    }

    &.page-login {
      h2 {
        margin: 20px 0px 40px 0px;
      }
      button {
        margin-top: 30px;
      }
      .subtext {
        text-align: center;
        margin: 25px 0;
        padding-top: 20px;
        border-top: 1px solid #e7e7e7;
      }
    }

    &.page-company {
      .content-block:not(:last-child) {
        border-bottom: 3px solid #e7e7e7;
      }

      .image-block {
        max-height: 250px;
        overflow: hidden;
        position: relative;

        .fav {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 1.8em;

          background: #ffffffcc;
          padding: 0px 5px;
          border-radius: 5px;

          &:focus {
            outline: none;
          }
        }
      }

      .infos {
        .categories {
          margin: 15px 0;
        }
      }

      .score {
        margin: 10px 0;
      }
    }

    &.page-ordervote {
      .score {
        label {
          margin-right: 15px;
          input {
            margin-left: 2px;
          }
        }
      }
    }

    &.page-order {
      .statut {
        .badge {
          color: white;
          padding: 5px;
          border-radius: 10px;
          background: purple;
          margin-top: 5px;
          display: inline-block;
          &.closed {
            &:after {
              content: "Commande terminée";
            }
          }
          &.finished {
            &:after {
              content: "Service effectué, en attente de votre avis";
            }
          }
          &.processing {
            &:after {
              content: "Service en cours";
            }
          }
          &.accepted {
            &:after {
              content: "Commande validée, le professionnel se dirige vers votre domicile";
            }
          }
          &.waiting {
            &:after {
              content: "En attente de validation";
            }
          }
          &.local {
            &:after {
              content: "En cours de vérification par nos serveurs";
            }
          }
        }
      }
      .final-price {
        font-weight: bold;
        margin-top: 15px;
      }
      .additional-price {
        margin-top: 15px;
        color: grey;
      }
    }

    //Rajouter le Style des commandes ici
    &.page-orders {
      .order {
        background: #f6f6f6;
        margin-bottom: 30px;
        border: 1px solid #989898;

        a {
          text-decoration: none;
        }

        .title-company {
          height: 90px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-position: center center;
          background-size: cover;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: white;

          .name {
            font-size: 1.3em;
          }
          .link-to {
            margin-top: 5px;
            font-size: 0.7em;
            text-transform: uppercase;
          }
        }

        .content {
          padding: 20px;

          .date {
            color: grey;
            font-size: 0.9em;
            padding-bottom: 20px;
          }
          .statut {
            padding: 20px 0;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
          }
          .total-price {
            padding-top: 20px;
            font-weight: bold;
          }
        }
      }
    }

    &.page-search {
      .search {
        display: flex;
        padding: 10px;
        align-items: center;
        background: #ebebeb;
        margin: 10px;

        input {
          flex-grow: 1;
          margin-left: 10px;
          height: 25px;
          background: unset;
          border: none;
          font-size: 0.9em;
        }
      }
    }

    &.page-cart,
    &.page-order {
      .items {
        .item {
          display: flex;
          justify-content: space-between;

          margin-top: 20px;
          font-size: 1.1em;

          .name {
            .option {
              width: 100%;
              display: block;
              font-size: 0.8em;
              color: grey;
              padding-left: 20px;
            }
          }
        }
      }
    }

    &.page-cart {
      .promo-code {
        padding: 20px 0px;
        margin: 0 20px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
      }

      .items-recap {
        border-top: 1px solid #e7e7e7;
      }

      .price-recap {
        border-bottom: 1px solid #e7e7e7;

        .final-price,
        .total {
          font-size: 1.1em;
        }
        .additional-price {
          margin-top: 10px;
          color: grey;
        }
        .final-price {
          font-weight: bold;
          margin-top: 20px;
        }
      }
    }

    &.page-account {
      .avatar {
        label {
          width: 200px;
          height: 200px;
          border-radius: 200px;
          overflow: hidden;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid grey;

          &:after {
            content: "Avatar";
            z-index: -1;
            position: absolute;
          }
        }
      }

      .menu {
        button,
        a {
          display: block;
          text-align: center;
          width: 100%;
          margin-bottom: 15px;
          text-decoration: none;
        }
      }
    }

    &.page-service {
      .quantity {
        font-size: 1.2em;

        button {
          font-size: 1rem;
          padding: 10px;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          border: 1px solid #e7e7e7;
          margin: 0 15px;

          &:focus {
            outline: 0;
            border: 1px solid grey;
          }
        }
      }

      .option {
        &:not(:last-of-type) {
          border-bottom: 1px solid #e7e7e7;
          padding-bottom: 20px;
        }
        &:not(:first-of-type) {
          padding-top: 20px;
        }

        label {
          width: 100%;
          display: block;
          margin-top: 10px;

          input[type="radio"] {
            margin-right: 10px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .categories {
      color: #777;

      span:not(:first-child):before {
        content: "•";
        margin: 0 5px;
      }
    }

    .company {
      padding: 5px;
      margin-bottom: 20px;

      a {
        padding: 5px;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;
        color: unset;

        h3 {
          padding: 10px 0;
          margin-bottom: 0;
          font-weight: 500;
        }

        .image-block {
          overflow: hidden;
          height: 180px;
          border-radius: 3px;
          display: flex;
          align-items: center;

          .image-wrapper {
            width: 100%;
            height: 100%;

            .skeleton {
              width: 100%;
              height: 100%;
              background: #e9e9e9;
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Icones */

.star {
  font-size: 0.9em;
  color: goldenrod;
}
.heart {
  font-size: 0.9em;
  color: tomato;
}

/* HELPERS */

.muted {
  color: #777;
  a {
    color: #777;
  }
}

.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.price:after {
  content: "€";
}

.text-center {
  text-align: center;
}

.fr {
  float: right;
}
.bold {
  font-weight: bold;
}

.link {
  background: none;
  border: none;
  display: inline;
  font-size: 1em;
  color: royalblue;
}
