.cartbar {
  height: 60px;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  & > * {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .title {
    flex: 2;
    font-weight: bold;
  }

  .elements:after {
    content: ">";
    margin-left: 5px;
  }
}

.add-to-cart {
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.services {
  .service {
    padding: 0px 15px;
    display: block;
    color: unset;
    text-decoration: none;

    .content {
      padding: 20px 0;

      .title {
        font-size: 1.1em;
      }
      .description {
        margin: 10px 0;
        color: grey;
      }
    }
    &:not(:first-child) .content {
      border-top: 1px solid #e7e7e7;
    }
  }
}

.btn {
  &.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  &:not(.btn-flex) {
    padding: 10px;
  }

  height: 50px;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  background: #e9e9e9;
  color: black;

  &.btn-valid {
    width: 100%;
    background: green;
    color: white;
    font-weight: bold;
  }
  &.btn-install {
    width: 100%;
    background: white;
    color: #000;
    font-size: 0.8em;
    font-weight: normal;

    .title {
      margin-left: 10px;
    }
  }
}
